<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
      <add name="easyPOSSolution.Properties.Settings.easybookshopsolutionConnectionString1"
            connectionString="TsOgyMs2k9eczOn+JBhMiZgC/kqVItBO1Qx0FsnofBKFAVzF6yARilVj1cGfd/o2ZXcIdj+1s+6c5Cv+6Dkc/2y5o74tCOytmYW00uTfGFjeTGbYGN7wPhUT3737VCgIw3blJZXBfABSPCeoHvK+4xVLmRj20li93twBRFE6y2uyGpJaR18TyALFC/4Jfdb0/aqa2RmaNUHr6LrSa537Mlr3g+0nQnrM1NVo7Bb1enOmuptJwPt59KzHqRPlaZwd1zMfHMEH+wYAs9ZFfTJNAGvfDDXMZe5JSvwcu9peEOHThsqnCsSWRTtXmx+hDoN2u7zHGLxIgfUe2R0zza6zahk9niFkY6iXoDUCzdSQy27oBVhUJAwRlt446jm9YxQSMh6oIoj0QqZUFvf7ikFNbZ+lacYzLD3cdS/aaQofyAw="
            providerName="MySql.Data.MySqlClient" />
        <add name="easyPOSSolution.Properties.Settings.easybookshopsolutionConnectionString"
            connectionString="TsOgyMs2k9eczOn+JBhMiZgC/kqVItBO1Qx0FsnofBKFAVzF6yARilVj1cGfd/o2ZXcIdj+1s+6c5Cv+6Dkc/2y5o74tCOytmYW00uTfGFjeTGbYGN7wPhUT3737VCgIw3blJZXBfABSPCeoHvK+4xVLmRj20li93twBRFE6y2uyGpJaR18TyALFC/4Jfdb0/aqa2RmaNUHr6LrSa537Mlr3g+0nQnrM1NVo7Bb1enOmuptJwPt59KzHqRPlaZwd1zMfHMEH+wYAs9ZFfTJNAGvfDDXMZe5JSvwcu9peEOHThsqnCsSWRTtXmx+hDoN2u7zHGLxIgfUe2R0zza6zahk9niFkY6iXoDUCzdSQy27oBVhUJAwRlt446jm9YxQSMh6oIoj0QqZUFvf7ikFNbZ+lacYzLD3cdS/aaQofyAw="
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
   <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
</configuration>